<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUB   LIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- filters -->
    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>talend.ext.images.server.ImageRequestEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- servlets -->
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <display-name>ImageUploadServlet</display-name>
        <servlet-class>talend.ext.images.server.ImageUploadServlet</servlet-class>
        <init-param>
            <param-name>image-file-types</param-name>
            <param-value>bmp|gif|ico|ilbm|lbm|iff|jpg|jpeg|png|psd|tif|tiff</param-value>
        </init-param>
        <init-param>
            <param-name>default-file-field-name</param-name>
            <param-value>imageFile</param-value>
        </init-param>
        <init-param>
            <param-name>default-catalog-field-name</param-name>
            <param-value>catalogName</param-value>
        </init-param>
        <init-param>
            <param-name>default-filename-field-name</param-name>
            <param-value>fileName</param-value>
        </init-param>
        <init-param>
            <param-name>output-format</param-name>
            <param-value>json</param-value>
        </init-param>
        <init-param>
            <param-name>bak-in-db</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>db-delegate-class</param-name>
            <param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
        </init-param>
        <init-param>
            <param-name>bak-use-transaction</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageDeleteServlet</servlet-name>
        <servlet-class>talend.ext.images.server.ImageDeleteServlet</servlet-class>
        <init-param>
            <param-name>output-format</param-name>
            <param-value>json</param-value>
        </init-param>
        <init-param>
            <param-name>delete-in-db</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>db-delegate-class</param-name>
            <param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
        </init-param>
        <init-param>
            <param-name>delete-use-transaction</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageScaleServlet</servlet-name>
        <servlet-class>com.mchange.v2.ssim.SsimServlet</servlet-class>
        <init-param>
            <param-name>cacheDir</param-name>
            <param-value>/scale_tmp</param-value>
        </init-param>
        <init-param>
            <param-name>use-db-backup</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>db-delegate-class</param-name>
            <param-value>talend.ext.images.server.backup.DBDelegateExistImpl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageLocateServlet</servlet-name>
        <display-name>ImageLocateServlet</display-name>
        <servlet-class>talend.ext.images.server.ImageLocateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServerInfoServlet</servlet-name>
        <display-name>ImageServerInfoServlet</display-name>
        <servlet-class>talend.ext.images.server.ImageServerInfoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/secure/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDeleteServlet</servlet-name>
        <url-pattern>/secure/ImageDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.JPG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.JPEG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.GIF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>*.PNG</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ImageLocateServlet</servlet-name>
        <url-pattern>/locator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServerInfoServlet</servlet-name>
        <url-pattern>/secure/serverinfo</url-pattern>
    </servlet-mapping>
</web-app>