/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.tree-node-different{
    background-color: red;
}

.tree-node-add{
    background-color: #8FCE32;
}

.tree-node-update{
    background-color: yellow;
}

.tree-node-remove{
    background-color: red;
}

/* for pop menu disable in ie6,ie7,ie8 */
.ext-ie .x-menu .x-menu-list .x-menu-list-item .x-item-disabled{
  cursor: default;
  opacity: .6;
  -moz-opacity: .6;
  filter: alpha(opacity=60) !important;
  width: 77px;
}