/** Add css rules here for your application. */
.mail-item-detail {
  height: 55px;
  background-color: #ddd;
  border-bottom: 1px solid silver;
}

.mail-item-detail h1 {
  font-weight: bold;
  font-size: 12px;
  padding: 5 0 2 5px;
}

.mail-item-detail h2 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 5 0 5px;
}

.mail-item-detail h3 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 5 5 5px;
}

.mail-item-body {
  padding: 12px;
}

.icon-email {
  background-image: url(./images/icons/email.png) !important;
}

.icon-email-add {
  background-image: url(./images/icons/email_add.gif) !important;
}

.icon-email-reply {
  background-image: url(./images/icons/email_go.png) !important;
}

/* solve menu item css problems, extjs and gxt */
.x-menu-item {
    padding: 3px 21px 3px 27px !important;
}

.separation-left {
    border: solid #3287B9;
    border-right-width: 0px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.separation-right {
    border: solid #3287B9;
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.filter-panel{
    margin: 20px;
}


.x-form-file-wrap .x-form-filter-btn {
  position: absolute;
  top:0px;
  right: 25;
}

.x-form-file-wrap .x-form-valid-btn {
  position: absolute;
  right: 0;
  top:0px;
}


