/***************************************************************************************
  Buttons
****************************************************************************************/

.report_bt_openRecord {
    background-image: url(../img/browse.png) !important;
}

.report_tab_table { 
	background-image: url(../img/table.png)!important; 
}

.report_table_timeline { 
	background-image: url(../img/time.png)!important; 
}
.x-tbar-done{
    background-image: url(../img/refresh.gif) !important;
}

/* Below here, for enterprise data changes viewer (allow table layout to use 100% of frame space) */
.history-viewer {
    width: 100%;
    height: 100%;
}

.history-viewer-header {
    height: 10%;
}

.history-viewer-changes {
    height: 90%;
    width: 50%;
}

.document-history-panel {
    height: 100%;
}

.document-history-panel-tree {
    width: 100%;
    height: 100%;
}

.tree-node-different{
    background-color: red;
}

.document-history-panel-messagebox table {  
    margin-left:auto;  
    margin-right:auto;  
}
