.default_background {
	background: white;
}

.form-edit-icon {
    background-image: url( ../images/pencil.png ) !important;
}

.form-valid-icon {
    background-image: url( ../images/tick.png ) !important;
}

.rule-execute-icon {
	background-image: url( ../images/rules/execute.png ) !important;
}
.users-mgt-icon {
    background-image: url( ../images/user/group.png ) !important;
}

.admin-category-icon {
    background-image: url( ../images/menu/wrench.png ) !important;
}

.repository-icon {
    background-image: url( ../images/repository/database.png ) !important;
}


.form-checkrepository-icon {
    background-image: url( ../images/repository/check_repository.png ) !important;
}

.rule-icon {
    background-image: url( ../images/rules/lorry.png ) !important;
}

.scheduling-icon {
	background-image: url( ../images/scheduling/clock.png ) !important;
}

.config-icon {
    background-image: url( ../images/config/wrench_orange.png ) !important;
}

.dashboard-icon {
    background-image: url( ../images/dashboard/dashboard.png ) !important;
}

.license-icon {
    background-image: url( ../images/script_key.png ) !important;
}


.changepassword-icon {
    background-image: url( ../images/password/key.png ) !important;
}

.execution-follower-table {
	background: white;
	border: solid 1px #D0D0D0;
	width: 100%;
}

.execution-follower-table td {
	padding: 2px;
}

.execution-follower-light-row {
	background: white;
}

.execution-follower-dark-row {
	background: #DFE8F6;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}
