svn.revision=50000
major=4
minor=2
rev=0
jboss.dir=/home/pascal/dev/jboss/jboss-4.2.2.GA-mdm
local.developer.build=true
maven.ant.tasks.file=/home/pascal/dev/talend/sources/trunk/datastewardship/org.talend.datastewardship/lib/maven-ant-tasks-2.1.1.jar
env.M2_HOME=/home/pascal/dev/maven/apache-maven-3.0-beta-1
#dev.mode.excluded.start=<!--
#dev.mode.excluded.end=-->
