<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <!-- ================ -->
    <!--    Appenders     -->
    <!-- ================ -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${mdm.root}/log/mdm.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
        </layout>
    </appender>

    <!-- ================ -->
    <!--    Categories    -->
    <!-- ================ -->
    <category name="org.talend">
        <priority value="INFO" />
    </category>

    <category name="talend.ext">
        <priority value="INFO" />
    </category>

    <category name="com.amalto">
        <priority value="INFO" />
    </category>

    <!-- Enable MDM Storage debugging
    <category name="com.amalto.core.storage">
        <priority value="DEBUG"/>
    </category>
    -->

    <!-- Limit C3P0 to WARN as its INFO is verbose -->
    <category name="com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource">
        <priority value="WARN" />
    </category>
    <category name="com.mchange.v2.c3p0.stmt.GooGooStatementCache">
        <priority value="WARN" />
    </category>

    <!-- Limit hibernate to WARN as its INFO is verbose -->
    <category name="org.hibernate">
        <priority value="WARN" />
    </category>

    <!-- ================ -->
    <!--    Root          -->
    <!-- ================ -->
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>