body {
    font-family: "Source Sans Pro"!important;
    font: normal 13px "Source Sans Pro", Tahoma!important;
    background-color:#FFFFFF;
    margin: 0;
    font-family: "Source Sans Pro";
}

input[type="text"], input[type="password"], input:-webkit-autofill {
    font-family: "Source Sans Pro"!important;
    color: black;
    font-size: 15px;
    background-color: white !important;
    border: 1px solid gray;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="submit"] {
    font-family: "Source Sans Pro"!important;
    color: white;
    font-size: 14px;
    width: 85px;
    height: 30px;
    background-color: #00a6ce;
    border: 1px solid transparent;
}

td { 
    color:#000000;
    font-size: 15px;
    line-height:130%;
}

table.form {
    background-color:#FFFFFF;
    border-color: green;
    border-width: 1px;
    border-bottom: #E0E0E0 solid 1px;
    border-top: #E0E0E0 solid 1px;
}

.header1 {
    background-color: black;
    background-image: url(./fond_gris.png);
}

.header2 {
    background-color: #C2D72D;
    height: 31px;
}

.logo {
    vertical-align: top;
}

.version, .suiteName, .appName {
    font-size: 16px;
    color: white;
}

.version {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding: 10px;
}

.suiteName {
    font-size: 26px;
    text-shadow: 0 1px 2px black;
    font-weight: bold;
    text-align: center;
    color: #EBEBEB;
    vertical-align: middle;
}

.appName {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
