#MDMGeneral .promptMsg, #MDMGeneral .gwt-HTML{
    line-height :  normal;
    font-family : tahoma, verdana, helvetica;
    font-size : 12px;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    font-stretch : normal;
}
.logout-btn{
	width:auto;
	position: absolute;
	top: 1px;
	right:1px;
	color:white;
}

.username{
	width:auto;
	position: absolute;
	font: bold  13px tahoma,verdana,helvetica;
	top: 1px;
	left:60px;
	color:  #ADADAD;
}

.version-label {
	font: bold 13px tahoma, verdana, helvetica;
	color: #EE0000;
}

.language-box{
	font: normal 11px tahoma, verdana, helvetica;
	right: 5px;
}

.generic-header-background{
	background-color: #3C3C3C;
    background-image: url(/talendmdm/secure/img/header-back.png);
    background-repeat: repeat-x;
    height:38px;
}	


.generic-header{
	background-image: url(/talendmdm/secure/img/genericUI/header.gif);
	background-repeat: repeat-y;
	background-position:right;
	font:bold 12px verdana, helvetica;
	overflow:hidden;
	padding:4px;
	border:0px none;
	border-bottom:2px solid #c3daf9;
}


/***************************************************************************************
  ACTIONS
****************************************************************************************/

#actions-body{
	overflow:auto;
	
}

.actions-list{
	padding:1px;
}
.actions-list a{
	border:1px solid white;
	display:block;
	margin-bottom:2px;
	text-decoration:none;
	-moz-outline:none;
}
.actions-list a .body{
	padding:5px 2px 5px 15px;
	/* background-position: 2px 5px; */
	background-repeat: no-repeat;
	font:bold 12px tahoma, verdana, helvetica;
	color: #2d5593;
	display:block;
	-moz-outline:none;
}
.actions-list a .desc{
	font:normal 11px tahoma, verdana, helvetica;
	color: #222222;
}
.actions-list a:hover, .actions-list .selected{
	text-decoration: none;
	border:1px solid #c3daf9;
	background-color:#ddecfe;
}
.actions-list .selected{
	background-image: url('/b2box3/secure/img/post-bg.gif');
	border:1px solid #c3daf9;
}
div .sub-body{
	position:relative;
	left: 15px;
}

#status {
	font-size:8pt;
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	padding-top:3px;
	height:18px;
}

#status.working {
	background-image: url('/core/secure/img/loading.gif');
}
#status.ready {
	background-image: url('/core/secure/img/done.gif');
}

.left{float:left;text-align:left;width:150px;}
.leftField{float:left;text-align:left;left:20px;font-family:Verdana,Arial,Helvetica,sans-serif;}
.right{float:right;}
.buttonRightBottom{float:right;bottom:20px;right:20px}

.x-form-text, .ext-ie .x-form-file {
    vertical-align: baseline;
}
.ext-ie8 .x-menu-item-icon{
    left: 3px !important;
}
.ext-ie8 .x-form-trigger-arrow, .ext-ie8 .x-form-date-trigger{
    margin-top: -1px;
}
	
.ext-ie9 .x-form-trigger-arrow, .ext-ie9 .x-form-date-trigger{
    margin-top: -1px;
}

.ext-ie8 .x-edit-grid .x-grid-editor  .x-form-field-wrap  input.x-form-field{
	margin-top: 3px;
}

.ext-ie9 .x-edit-grid .x-grid-editor  .x-form-field-wrap  input.x-form-field{
	margin-top: 3px;
}
/*compatible adjust extjs css*/
.extpj .x-form-text {
    height: 20px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.ext-chrome .extpj .x-form-field-wrap .x-form-trigger {
    height: 21px;
}

.ext-safari .extpj .x-form-field-wrap .x-form-trigger {
    height: 21px;
}


.x-menu-list .x-menu-list-item .x-menu-item {
	cursor: pointer;
	font-family: tahoma,arial,sans-serif;
	font-size: 11px;
    font-weight: 700;
    font-style: normal;
    color: #2D5593 !important;
}

.ext-ie9 .x-menu-item-icon{
    left: 0px! important;
}

.x-layer .x-menu-check-item .x-menu-item-icon{
    background-image: url("/core/secure/ext-2.2/resources/images/default/menu/unchecked.gif");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    background-color: transparent;
}

.x-layer .x-menu-item-checked .x-menu-item-icon{
    background-image: url("/core/secure/ext-2.2/resources/images/default/menu/checked.gif");
}