<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath*:META-INF/mdm-context.xml" />

    <!-- CXF Services -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />

    <!-- CXF Services -->
    <jaxrs:server id="services" address="/rest">
        <jaxrs:serviceBeans>
            <!-- MDM Transaction service -->
            <bean class="com.amalto.core.storage.transaction.TransactionService" />
            <!-- Staging validation service -->
            <bean class="com.amalto.core.storage.task.staging.StagingTaskService" />
            <!-- Data related services -->
            <bean class="com.amalto.core.storage.services.SystemModels" />
            <!-- Statistics services -->
            <bean class="com.amalto.core.storage.services.JournalStatistics" />
            <bean class="com.amalto.core.storage.services.DataStatistics" />
            <bean class="com.amalto.core.storage.services.EventStatistics" />
        </jaxrs:serviceBeans>
                <jaxrs:providers>
            <bean class="com.amalto.core.storage.task.staging.SerializableListWriter" />
        </jaxrs:providers>
    </jaxrs:server>

    <!-- Legacy services -->
    <jaxws:endpoint implementor="com.amalto.core.webservice.XtentisWSBean" address="/soap" />
</beans>
