<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <display-name>Talend MDM</display-name>
    <description>Talend MDM server</description>

    <!-- Spring initialization -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans.xml</param-value>
    </context-param>
    <context-param>
        <param-name>mdmRootLocation</param-name>
        <param-value>WEB-INF</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>${mdm.root.url}/conf/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>org.restlet.enableLog</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.restlet.application</param-name>
        <param-value>org.talend.mdm.ext.publish.ServerServletApplication</param-value>
    </context-param>

    <listener>
        <listener-class>org.talend.mdm.webapp.general.server.servlet.MDMContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener> 

    <!-- Additional MDM filters -->
    <filter>
        <filter-name>errorFilter</filter-name>
        <filter-class>com.amalto.core.servlet.ErrorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>transactionFilter</filter-name>
        <filter-class>com.amalto.core.servlet.TransactionFilter</filter-class>
    </filter>
    <!-- Spring security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Enable bulk load servlet to print out full exception stack trace in case of error/exception -->
    <filter-mapping>
        <filter-name>errorFilter</filter-name>
        <url-pattern>/loadServlet</url-pattern>
    </filter-mapping>
    <!-- Enable bulk load servlet to use an existing transaction or start an implicit one -->
    <filter-mapping>
        <filter-name>transactionFilter</filter-name>
        <url-pattern>/loadServlet</url-pattern>
    </filter-mapping>
    <!-- Web services -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.amalto.webapp.v3.xtentismdm.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runServlet</servlet-name>
        <servlet-class>com.amalto.core.servlet.RunServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>releasenotes</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>com.amalto.core.servlet.UploadFile</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>init</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>loadServlet</servlet-name>
        <servlet-class>com.amalto.core.servlet.LoadServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>load</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>exportServlet</servlet-name>
        <servlet-class>com.amalto.core.servlet.ExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogViewerServlet</servlet-name>
        <servlet-class>com.amalto.core.servlet.LogViewerServlet</servlet-class>
        <init-param>
            <param-name>logFile</param-name>
            <param-value>${mdm.root}/log/mdm.log</param-value>
        </init-param>
        <init-param>
            <param-name>maxLinesByChunk</param-name>
            <param-value>10000</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MatchingLogViewerServlet</servlet-name>
        <servlet-class>com.amalto.core.servlet.LogViewerServlet</servlet-class>
        <init-param>
            <param-name>logFile</param-name>
            <param-value>${mdm.root}/log/mdm-match.log</param-value>
        </init-param>
        <init-param>
            <param-name>maxLinesByChunk</param-name>
            <param-value>10000</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runServlet</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadServlet</servlet-name>
        <url-pattern>/loadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportServlet</servlet-name>
        <url-pattern>/exportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogViewerServlet</servlet-name>
        <url-pattern>/logviewer/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchingLogViewerServlet</servlet-name>
        <url-pattern>/logviewer/match</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.core -->
    <listener>
        <listener-class>com.amalto.webapp.core.util.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/secure/dwr/*</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.general -->
    <servlet>
        <servlet-name>GeneralService</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.server.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralService</servlet-name>
        <url-pattern>/general/GeneralService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/ui</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.welcomeportal -->
    <servlet>
        <servlet-name>welcomeportalServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomeportalServlet</servlet-name>
        <url-pattern>/welcomeportal/WelcomePortalService</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.browserecords -->
    <servlet>
        <servlet-name>browserecordsServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>baseRemoteServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.base.server.BaseRemoteServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportExcelFile</servlet-name>
        <servlet-class>org.talend.mdm.webapp.browserecords.server.servlet.DownloadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportExcelFile4Staging</servlet-name>
        <servlet-class>org.talend.mdm.webapp.browserecordsinstaging.server.servlet.DownloadData4Staging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readExcelFile</servlet-name>
        <servlet-class>org.talend.mdm.webapp.browserecords.server.servlet.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readExcelFile4Staging</servlet-name>
        <servlet-class>org.talend.mdm.webapp.browserecordsinstaging.server.servlet.UploadData4Staging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmartViewServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.browserecords.server.servlet.SmartViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>browserecordsServlet</servlet-name>
        <url-pattern>/browserecords/BrowseRecordsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>browserecordsServlet</servlet-name>
        <url-pattern>/browserecordsinstaging/BrowseRecordsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>baseRemoteServlet</servlet-name>
        <url-pattern>/browserecords/BaseRemoteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readExcelFile</servlet-name>
        <url-pattern>/browserecords/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readExcelFile4Staging</servlet-name>
        <url-pattern>/browserecords/upload4Staging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportExcelFile</servlet-name>
        <url-pattern>/browserecords/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportExcelFile4Staging</servlet-name>
        <url-pattern>/browserecords/download4Staging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmartViewServlet</servlet-name>
        <url-pattern>/browserecords/SmartViewServlet</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.recyclebin -->
    <servlet>
        <servlet-name>recyclebinServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>recyclebinServlet</servlet-name>
        <url-pattern>/recyclebin/RecycleBinService</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.journal -->
    <servlet>
        <servlet-name>journalServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>journalExportServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.journal.server.servlet.JournalExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalServlet</servlet-name>
        <url-pattern>/journal/JournalService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>journalExportServlet</servlet-name>
        <url-pattern>/journal/journalExport</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.webapp.stagingarea -->
    <servlet>
        <servlet-name>stagingareaServlet</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StagingAreaBrowseService</servlet-name>
        <servlet-class>org.talend.mdm.webapp.general.gwt.ProxyGWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stagingareaServlet</servlet-name>
        <url-pattern>/stagingarea/StagingAreaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StagingAreaBrowseService</servlet-name>
        <url-pattern>/stagingareabrowse/StagingAreaBrowseService</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.ext.images.server -->
    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>talend.ext.images.server.ImageRequestEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/imageserver/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>talend.ext.images.server.ImageUploadServlet</servlet-class>
        <init-param>
            <param-name>image-file-types</param-name>
            <param-value>bmp|gif|ico|ilbm|lbm|iff|jpg|jpeg|png|psd|tif|tiff</param-value>
        </init-param>
        <init-param>
            <param-name>default-file-field-name</param-name>
            <param-value>imageFile</param-value>
        </init-param>
        <init-param>
            <param-name>default-catalog-field-name</param-name>
            <param-value>catalogName</param-value>
        </init-param>
        <init-param>
            <param-name>default-filename-field-name</param-name>
            <param-value>fileName</param-value>
        </init-param>
        <init-param>
            <param-name>output-format</param-name>
            <param-value>json</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageDeleteServlet</servlet-name>
        <servlet-class>talend.ext.images.server.ImageDeleteServlet</servlet-class>
        <init-param>
            <param-name>output-format</param-name>
            <param-value>json</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageScaleServlet</servlet-name>
        <servlet-class>com.mchange.v2.ssim.SsimServlet</servlet-class>
        <init-param>
            <param-name>allowDomains</param-name>
            <param-value>all</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ImageLocateServlet</servlet-name>
        <servlet-class>talend.ext.images.server.ImageLocateServlet</servlet-class>
        <init-param>
            <param-name>scalePath</param-name>
            <param-value>/imageserver/scale</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/imageserver/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDeleteServlet</servlet-name>
        <url-pattern>/imageserver/ImageDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageScaleServlet</servlet-name>
        <url-pattern>/imageserver/scale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLocateServlet</servlet-name>
        <url-pattern>/imageserver/upload/*</url-pattern>
    </servlet-mapping>
    <!-- org.talend.mdm.ext.publish.component -->
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>com.noelios.restlet.ext.servlet.ServerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/pubcomponent/*</url-pattern>
    </servlet-mapping>
</web-app>

