<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!--
        Non clustered version
        <distributable/>
    -->
    <filter>
        <filter-name>errorFilter</filter-name>
        <filter-class>com.amalto.core.servlet.ErrorFilter</filter-class>
    </filter>

    <!-- Enable bulk load servlet to print out full exception stack trace in case of error/exception -->
    <filter-mapping>
        <filter-name>errorFilter</filter-name>
        <url-pattern>/loadServlet</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.amalto.core.servlet.ContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>runServlet</servlet-name>
        <display-name>run Servlet</display-name>
        <description><![CDATA[Upgrade of core and start of routing engine]]></description>
        <servlet-class>com.amalto.core.servlet.RunServlet</servlet-class>

        <init-param>
            <param-name>action</param-name>
            <param-value>releasenotes</param-value>
        </init-param>

    </servlet>

    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <display-name>FileUpload</display-name>
        <description><![CDATA[FileUploadToWebApp server]]></description>
        <servlet-class>com.amalto.core.servlet.UploadFile</servlet-class>

        <init-param>
            <param-name>action</param-name>
            <param-value>init</param-value>
        </init-param>

    </servlet>

    <servlet>
        <servlet-name>loadServlet</servlet-name>
        <display-name>load Servlet</display-name>
        <servlet-class>com.amalto.core.servlet.LoadServlet</servlet-class>
        <init-param>
            <param-name>action</param-name>
            <param-value>load</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>exportServlet</servlet-name>
        <display-name>export Servlet</display-name>
        <servlet-class>com.amalto.core.servlet.ExportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <display-name>CXF Servlet</display-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>com.amalto.core.storage.task.staging.StagingTaskService</param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>com.amalto.core.storage.task.staging.SerializableListWriter</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>runServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadServlet</servlet-name>
        <url-pattern>/loadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportServlet</servlet-name>
        <url-pattern>/exportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/core</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Run</web-resource-name>
            <url-pattern>/run</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administration</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UploadFile</web-resource-name>
            <url-pattern>/uploadFile</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>authenticated</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>LoadServlet</web-resource-name>
            <url-pattern>/loadServlet</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administration</role-name>
            <role-name>authenticated</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Services</web-resource-name>
            <url-pattern>/services/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administration</role-name>
            <role-name>authenticated</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>xtentisSecurity</realm-name>
    </login-config>

    <security-role>
        <role-name>administration</role-name>
    </security-role>
    <security-role>
        <role-name>authenticated</role-name>
    </security-role>

</web-app>
